:root{
  --base-color: #001A31;
  --base-variant: #009474;
  --text-color: white;
}
.darkmode{
    --base-color: #94CDFF;
    --base-variant: #8FFFE7;
    --text-color : black;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom,  var(--base-color), var(--base-variant));
    color : var(--text-color); 
    display: flex;
    justify-content: center;        
    align-items:baseline; 
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.input{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 6px;
    width: 250px;
}
.submit{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(185, 184, 184);
}
.city{
    font-size: 30px;
    font-weight: bold;
}
.temp{
    font-size: 30px;
    margin-bottom: 0;
}
.img{
    height: 150px;
}
.imghumdity{
    height: 40px;
    filter: brightness(0) invert(1);
}
.imgwind{
    height: 40px;
    filter: brightness(0) invert(1);
}
.wind{
    font-size: 20px;
    font-weight: bold;
}
.humidity{
    font-size: 20px;
    font-weight: bold;
}
.description{
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}
.container{
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.29);
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}
.theme-switch{
    border-radius: 40px; 
    border: 0;
    margin-top: -35px ;
    margin-left: -310px;
    position: absolute;
    z-index: 100;
}
#error-message{
    position: absolute;
    background-color: red;
    padding: 3px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;

}
#error-message.show {
    opacity: 1;
    pointer-events: auto;
}
